h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: "Italianno", cursive;
    font-size: 70px;
    margin-bottom: 0px;
}

header {
    border: 10px solid black;
    background-image: url("../imagen/italia.png");
    height: 30vh
}




body {
    margin-top: 0;


}

li {
    text-align: center;
    display: block;
    display: inline;
    margin-left: 150px;
    border: 1px solid black;
    margin-top: 20%;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: rgb(5, 168, 5);
    font-weight: bold;
}

p {
    text-align: center;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    border: 1px solid black;
    width: 4%;
    height: 5%;

}

