@media screen and (max-width: 480px) {
    body{
        background-color: black;
    }
    h1 {
        font-size: 30px; 
    }

    nav {
        margin-left: 0;
        padding-top: 5px;
    }

    .menu{
        text-decoration: none;
        text-align: center;
        display: inline;
        margin-left:-8px;
        margin-right: 5px;
        border: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        background-color: rgb(5, 168, 5);
        font-weight: bold;
    }
    a:hover{
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: white;
        color:red;
        font-family: "Italianno";
        font-size: 20px;
        font-weight: bold;
    }

    footer p {
        margin-top: 1%;
        margin-bottom: -3%;
        background-color: black;
        color: white;
        text-align: center;
    }

    .video video {
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 150%;
    }
    .nombres{
        margin-right: 1px;
    }
    #Carlos{
        margin-left: 10px;
    }
    #Valentin{
        margin-left: 10px;
    }
    #Pablo{
        margin-left: 10px;
    }
}

h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: "Italianno", cursive;
    font-size: 100px;
    margin-bottom: -1px;
    padding-bottom: -2%;
    font-variant: small-caps ;
}

header {
    border-top: 10px solid green;
    border-bottom:10px solid red;
    border-left: 10px solid white;
    border-right: 10px solid white;
    background-image: url("italia.png");
    height: 30vh
}




body {
    background-color: rgb(231, 245, 226);
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
    text-align: center;
    display: block;
    display: inline;
    margin-left: 150px;
    border: 1px solid black;
    margin-top: 20%;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: rgb(5, 168, 5);
    font-weight: bold;
}

p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

nav {
    margin-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}
a.menu:hover{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    color:red;
    font-family: "Italianno";
    font-size: 20px;
    font-weight: bold;
}
h2.enlaces{
text-align: center;
font-variant: small-caps ;
font-size: 50px;
}
img.enlaces{
    margin-left:27%;
    width: 30%;
}
#Valentin{
    border: 0px solid black;
    background-color: rgb(231, 245, 226); 
}
#Valentin{
    border: 0px solid black;
    background-color: rgb(231, 245, 226); 
}
#Carlos{
    border: 0px solid black;
    background-color: rgb(231, 245, 226); 
}
#Pablo{
    border: 0px solid black;
    background-color: rgb(231, 245, 226); 
}
p.pes{
    font-variant: small-caps ;
    font-size: 30px;
}
a.direccion{
    border: 0px solid black;
    background-color: rgb(231, 245, 226);
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
    text-decoration: none;
}
a.direccion:hover{
    border: 0px solid black;
    background-color: rgb(231, 245, 226);
    font-size: 25px;
    color: black;
}