
body {
    background-color: rgb(231, 245, 226);
    margin: 0;
    font-family: sans-serif;
}

header {
    border-top: 10px solid green;
    border-bottom: 10px solid red;
    border-left: 10px solid white;
    border-right: 10px solid white;
    background-image: url("Italia.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Georgia', serif;
    font-size: 80px;
    font-variant: small-caps;
    margin: 0;
}

h2, h3, h4 {
    font-size: 2rem;
    border-bottom: 2px solid red;
    width: 100%;
    margin-top: 2rem;
}

p {
    font-weight: bold;
    font-size: 1rem;
    padding: 0 1rem;
}


nav {
    background-color: black;
    width: 100%;
    margin-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

nav li {
    text-align: center;
    flex: 1 1 auto;
}

nav a {
    display: block;
    padding: 15px 0;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: red;
    font-family: "Italianno", cursive;
    font-size: 1.25rem;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

.logo, .f1, .f2 {
    width: 20%;
}

.bloque {
    background-color: #fdfdfd;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    box-shadow: 0 4px 8px red;
}

a.direccion {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 14%;
    text-decoration: none;
}
a.direccion:hover {
    font-size: 1.5rem;
    color: black;
}
a.flecha {
    border: none;
    background-color: rgb(231, 245, 226);
    padding-left: 3%;
    text-decoration: none;
}
a.flecha:hover {
    font-size: 2rem;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}


li {
    display: inline;
}



@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.5rem;
    }

    h2, h3, h4 {
        font-size: 1.5rem;
    }

    .logo, .f1, .f2 {
        width: 70%;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        width: 100%;
    }

    nav a {
        padding: 10px;
        font-size: 1rem;
        margin: 5px 0;
    }
}
