h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: "Italianno", cursive;
    font-size: 100px;
    margin-bottom: -1px;
    padding-bottom: -2%;
    font-variant: small-caps ;
}

header {
    border-top: 10px solid green;
    border-bottom:10px solid red;
    border-left: 10px solid white;
    border-right: 10px solid white;
    background-image: url("italia.png");
    height: 30vh
}




body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
    text-align: center;
    display: block;
    display: inline;
    margin-left: 150px;
    border: 1px solid black;
    margin-top: 1%;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: rgb(5, 168, 5);
    font-weight: bold;
}

p {
    text-align: center;
}

nav {
    margin-left: 5%;
    margin-bottom: 20px;
}
a:hover{
    background-color: white;
    color:red;
    font-family: "Italianno";
    font-size: 30px;
    font-weight: bold;
}

img {
    border: 1px solid black;
    width: 4%;
    height: 5%;

}
div.video{
    background-color: black;
}
h2{
    font-size: 500%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: black;
    color: white;
    text-align: center;
}
footer{
     margin-top: -2%;
    margin-bottom: -2%;
    background-color: black;
    color: white;
    text-align: center;
   
}

