h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: "Italianno", cursive;
    font-size: 100px;
    margin-bottom: -1px;
    padding-bottom: -2%;
    font-variant: small-caps ;
}

header {
    border-top: 10px solid green;
    border-bottom:10px solid red;
    border-left: 10px solid white;
    border-right: 10px solid white;
    background-image: url("italia.png");
    height: 30vh
}




body {
    background-color: rgb(231, 245, 226);
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

a.navegacion {
    text-decoration: none;
    text-align: center;
    display: block;
    display: inline;
    margin-left: 150px;
    border: 1px solid black;
    margin-top: 1%;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: rgb(5, 168, 5);
    font-weight: bold;
}

p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

nav {
    margin-left: 5%;
    padding-bottom: 10px;
}
a.navegacion:hover{
    background-color: white;
    color:red;
    font-family: "Italianno";
    font-size: 30px;
    font-weight: bold;
}
h2.enlaces{
text-align: center;
font-variant: small-caps ;
font-size: 50px;
}
img.enlaces{
    margin-left:35%;
    width: 30%;
}
p.pes{
    font-variant: small-caps ;
    font-size: 30px;
}
a.direccion{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
    text-decoration: none;
}
a.direccion:hover{
    font-size: 25px;
    color: black;
}
footer{
    margin-bottom: -2%;
    background-color: black;
    color: white;
    text-align: center;
   
 }
a.flecha{
    padding-left:3% ;
    text-decoration: none;
}
