body {
    margin: 0;
    background-color: black;
    font-family: Arial, sans-serif;
}

header {
    border-top: 10px solid green;
    border-bottom: 10px solid red;
    border-left: 10px solid white;
    border-right: 10px solid white;
    background-image: url("Italia.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Georgia', serif;
    font-size: 80px;
    font-variant:small-caps;
    margin: 0;
}



nav {
    background-color: black;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}

nav li {
    width: 100%;
    text-align: center;
}

nav a {
    display: block;
    padding: 15px 0;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: red;
    font-family: "Italianno";
    font-size: 30px;
}


@media screen and (max-width: 480px) {
    nav {
        justify-content: center;
        gap: 10px;
    }

    nav a {
        margin: 5px;
        padding: 8px 15px;
        font-size: 16px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        width: 100%;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 8vw;
    }
}

h2 {
    font-size: 500%;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.video {
    background-color: black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}
